<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TrafficApp_Login</title>
    <link href="../../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet">
    <link href="../../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="container main_outer">
    <div class="container main_inner">
        <div class="container back_container">
            <a class="img_container" th:href="@{/}">
                <img src="/img/back_button.png" th:src='@{/img/back_button.png}' alt="Back"/>
            </a>
        </div>
        <div class="container label_container">
            <h1>Войти в аккаунт</h1>
        </div>
        <div class="container info_container">
            <div class="container message_container" id="error_message" th:if="${param.error}">
                <span>Неверные логин или пароль</span>
            </div>
            <div class="container message_container" id="logout_message" th:if="${param.logout}">
                <span>Вы вышли из аккаунта</span>
            </div>
        </div>
        <form class="container form_container" th:action="@{/login}" method="post">
            <div class="container input_container">
                <label for="username_input">Номер телефона | Код сотрудника</label>
                <input type="text" id="username_input" name="username"/>
            </div>
            <div class="container input_container">
                <label for="username_input">Пароль</label>
                <input type="password" id="password_input" name="password"/>
            </div>
            <button class="default_button" type="submit">Войти</button>
        </form>
        <a th:href="@{/registration}">
            <span class="item_title" style="font-size: smaller">Еще нет аккаунта?</span>
        </a>
    </div>
</div>
</body>
</html>