<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>TrafficApp_Register</title>
  <link href="../../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet">
  <link href="../../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="container main_outer">
  <div class="container main_inner">
    <div class="container back_container">
      <a class="img_container" th:href="@{/}">
        <img src="/img/back_button.png" th:src='@{/img/back_button.png}' alt="Back"/>
      </a>
    </div>
    <div class="container label_container">
      <h1>Регистрация</h1>
    </div>
    <form class="container form_container" th:action="@{/registration}" method="post"
          th:object="${user}">
      <div class="container input_container">
        <label>Номер телефона</label>
        <input th:field="*{phone}"/>
        <p th:each="error: ${#fields.errors('phone')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="container input_container">
        <label>Почта</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error: ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="container input_container">
        <label>Пароль</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error: ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
      </div>
      <button class="default_button" type="submit">Зарегистрироваться</button>
    </form>
    <a th:href="@{/login}">Уже есть аккаунт?</a>
  </div>
</div>
</body>
</html>