<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet">
    <link href="../../static/css/layout.css" th:href="@{/css/components.css}" rel="stylesheet">
    <title></title>
</head>
<body>
<header class='header' th:fragment="header">
  <div class='nav_container'>
    <div class='nav_block'>
      <a class="img_container" th:href="@{/}">
        <img src="/img/home_page_icon.png" th:src='@{/img/home_page_icon.png}' alt="Home"/>
      </a>
    </div>
    <div class='nav_block'>
      <a th:href="@{/employees}"><span>Сотрудники ГИБДД</span></a>
    </div>
    <div class='nav_block'>
      <a th:href="@{/categories}"><span>Категории ТС</span></a>
    </div>
    <div class='nav_block'>
      <a th:href="@{/fines}"><span>Штрафы</span></a>
    </div>
    <div class='nav_block'>
      <a th:href="@{/departments}"><span>Подразделения</span></a>
    </div>
    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
      <button type="button" class="default_button">Войти</button>
    </a>
    <div class="dropdown">
      <a sec:authorize="isAuthenticated()" th:href="@{/me}" class="img_container">
        <img src="/img/user_icon_50.png" th:src='@{/img/user_icon_50.png}' alt="Profile"/>
      </a>
      <div class="dropdown-content">
        <a th:href="@{/me/license}">Удостоверение</a>
        <a th:href="@{/me/vehicles}">Транспорт</a>
        <a th:href="@{/me/violations}">Нарушения</a>
        <a th:href="@{/me/certificates}">Свидетельства</a>
        <a style="color: maroon" th:href="@{/logout}">Выход</a>
      </div>
    </div>
    <div class="dropdown">
      <a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/inspect}" class="img_container">
        <img src="/img/employee_icon_50.png" th:src='@{/img/employee_icon_50.png}' alt="Emp_Profile"/>
      </a>
      <div class="dropdown-content">
        <a th:href="@{/inspect/licenses}">Все удостоверения</a>
        <a th:href="@{/inspect/violations}">Все нарушения</a>
        <a th:href="@{/inspect/vehicles}">Все ТС</a>
        <a th:href="@{/inspect/certificates}">Все Свитедельства</a>
      </div>
    </div>
  </div>
</header>
</body>
</html>