<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container list" th:fragment="certificates">
    <div th:if="${certificates.isEmpty()}" style="display: flex; justify-content: center">
        <p class="h1" style="color: gray">Свидетельств нет</p>
    </div>
    <div th:unless="${certificates.isEmpty()}">
        <th:block th:each="certificate: ${certificates}">
            <div class="container item">
                <div class="container" style="flex-direction: row; gap: 0.5em">
                    <p class="wrapper item_title default_item"
                       th:text="${certificate.registrationCode}">
                        Регистрационный номер
                    </p>
                    <p class="wrapper item_title default_item"
                       th:text="${certificate.categoryCode}"
                       style="background-color: #000000; color: white">
                        Категория
                    </p>
                </div>
                <p class="item_description vin" th:text="'ВИН-номер: ' + ${certificate.vin}">VIN</p>
                <p class="item_description date" th:text="'Дата регистрации: ' + ${certificate.dateOfRegistration}">
                    DATE_OF_REGISTRATION</p>
                <p class="item_description" th:text="'Адрес подразделения: ' + ${certificate.departmentLocation}">
                    LOCATION</p>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>