<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet">
    <link href="../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">
</head>
<body>
<div class="container list" th:fragment="vehicles">
    <th:block th:each="vehicle: ${vehicles}">
        <div class="container item">
            <div class="container" style="flex-direction: row; gap: 0.5em">
                <p class="wrapper item_title reg_code" th:text="${vehicle.registrationCode}">REGISTRATION_CODE</p>
                <p class="wrapper item_title category_code" th:text="${vehicle.categoryCode}">CATEGORY_CODE</p>
            </div>
            <p class="item_title" th:text="${vehicle.brandName}+' '
                                                +${vehicle.modelName}+' '
                                                +${vehicle.manufactureYear}">CAR_NAME</p>
            <p class="item_description vin" th:text="'ВИН-номер: '+${vehicle.vin}">VIN</p>
            <p class="item_description" th:text="'Цвет: '+${vehicle.bodyColor}">BODY_COLOR</p>
            <p class="item_description date" th:text="'Дата регистрации: '+${vehicle.dateOfRegistration}">DATE_OF_REGISTRATION</p>
        </div>
    </th:block>
</div>
</body>
</html>