<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet">
    <link href="../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">
</head>
<body>
<div class="container list" th:fragment="vehicles">
    <th:block th:each="vehicle: ${vehicles}">
        <div class="container item">
            <p class="item_title" th:text="${vehicle.registrationCode}">Заголовок</p>
            <p class="item_description" th:text="${vehicle.vin}">Текст</p>
            <p class="item_description" th:text="${vehicle.modelName}">Текст</p>
            <p class="item_description" th:text="${vehicle.brandName}">Текст</p>
            <p class="item_description" th:text="${vehicle.manufactureYear}">Текст</p>
            <p class="item_description" th:text="${vehicle.bodyColor}">Текст</p>
            <p class="item_description" th:text="${vehicle.categoryCode}">Текст</p>
            <p class="item_description" th:text="${vehicle.fullName}">Текст</p>
            <p class="item_description" th:text="${vehicle.dateOfRegistration}">Текст</p>
        </div>
    </th:block>
</div>
</body>
</html>