<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TrafficApp</title>
    <link href="../../../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet">
    <link href="../../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main class="container main">
    <div class='container content'>
        <div class='label_container'>
            <span class="h1">Штрафы из базы ГИБДД</span>
        </div>
        <div class="container list">
            <th:block th:each="fine: ${fines}">
                <div class="container item">
                    <p class="item_title" th:text="${fine.description}">Заголовок</p>
                    <p class="wrapper item_description"
                       style="background-color: #01002e; color: white; font-weight: 600"
                       th:text="${fine.fineAmount} + ' ₽'">Сумма</p>
                </div>
            </th:block>
        </div>
    </div>
</main>
<footer class="container footer" th:replace="~{components/footer :: footer}"></footer>
</body>
</html>