<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TrafficApp</title>
    <link href="../../../static/css/components.css" th:href="@{/css/components.css}" rel="stylesheet">
    <link href="../../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">
    <link href="../../../static/css/landing.css" th:href="@{/css/landing.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main class="container main" style="position: relative">
    <div class='container content'>
        <div class='label_container'>
            <span class="h1">Проверьте свои штрафы по регистрационному номеру</span>
        </div>
        <form class="input_form" id="landing_input" action="/getFines" method="get">
            <input type="text" name="code" id="code" placeholder="A 000 AA RUS 061">
            <button type="submit" class="default_button">Узнать</button>
        </form>
    </div>
    <div class="img_container landing_container">
        <img src="/static/img/landing_car.png" th:src='@{/img/landing_car.png}' alt="Emp_Profile"/>
    </div>
</main>
<footer class="container footer" th:replace="~{components/footer :: footer}"></footer>
<!--    <div id='main_car_image' class='main_car_image'>-->
<!--        <img th:src='@{/img/landing_car.png}' id='img' class='img'/>-->
<!--    </div>-->
</body>
</html>