<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department</title>
</head>
<body>
  <table>
    <caption><h2>Подразделения ГИБДД Ростовской области</h2></caption>
    <thead>
    <tr>
      <th>Адрес подразделения</th>
      <th>Тип подразделения</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="department: ${departments}">
      <tr>
        <td th:text="${department.departmentLocation}"></td>
        <td th:text="${department.departmentType}"></td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <a th:href="@{/}">Главная</a>
</body>
</html>