<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Employees</title>
</head>
<body>
<table>
  <caption><h2>Все сотрудники (Ростовская область)</h2></caption>
  <thead>
  <tr>
    <th>ФИО</th>
    <th>Должность</th>
    <th>Тип подразделения</th>
    <th>Адрес подразделения</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="employee: ${employees}">
    <tr>
      <td th:text="${employee.fullName}"></td>
      <td th:text="${employee.jobTitle}"></td>
      <td th:text="${employee.departmentType}"></td>
      <td th:text="${employee.departmentLocation  }"></td>
    </tr>
  </th:block>
  </tbody>
</table>
<a th:href="@{/}">Главная</a>
</body>
</html>