<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inspection_Landing</title>
</head>
<body>
    <h1>Landing</h1>
    <p><a th:href="@{/departments}">Подразделения</a></p>
    <p><a th:href="@{/categories}">Категории</a></p>
    <p><a th:href="@{/fines}">Штрафы</a></p>
    <p><a th:href="@{/employees}">Сотрудники</a></p>
    <b><a th:href="@{/me}">Войти в аккаунт</a></b>
    <p>Узнать о своих штрафах</p>
    <form action="/getFines" method="get">
        <input type="text" name="code" placeholder="А000ААRUS061">
        <input type="submit" value="Узнать">
    </form>
</body>
</html>