<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Violations</title>
</head>
<body>
<table>
  <caption><h2>Нарушения по номеру <span th:text="${registrationCode}"></span></h2></caption>
  <thead>
  <tr>
    <th>Описание штрафа</th>
    <th>Сумма штрафа</th>
    <th>Дата нарушения</th>
    <th>Дата платежа</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="violation: ${violations}">
    <tr>
      <td th:text="${violation.description}"></td>
      <td th:text="${violation.fineAmount}"></td>
      <td th:text="${violation.dateOfViolation}"></td>
      <td th:text="${violation.dateOfPayment} ?: '-'"></td>
    </tr>
  </th:block>
  </tbody>
</table>
<a th:href="@{/}">Главная</a>
</body>
</html>